
h1{
    font-size: 40px;
    font-family: Tahoma;
    font-weight: lighter;
}
h2{
    font-family: Geneva;
    font-weight: lighter;
}
h4{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}
header, section, footer, aside, nav, article, hgroup{
    display: block;
}
body{
    text-align: center;
    background: #778beb;
}
.agrupar{
    background: #30336b;
    color: white;
    width: 90%;
    margin: auto;
}
.cabecera{
    padding: 2%;
}
.menu{
    background: #535c68;
    padding: 1% 2%;
    text-align: left;
}
.menu li{
    list-style: none;   
    padding: 1%;
    text-align: left;
    font-size: large;
    font-family: Geneva;
    display: inline-block;
}
article{
    background: #686de0;
    padding: 2%;
    margin-bottom: 3%;
}
article footer{
    text-align: right;
    margin-top: 5%;
}
time{
    color: #f9ca24;
    font: 100;
}
.seccion{
    padding: 3%;
}
.seccion p{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
.notas{
    margin: 2%;
    width: 75%;
    float: left;
}
.columna{
    margin: 2% 0;
    width: 20%;
    float: left;
}
.columna blockquote{
    border: 1px solid white;
    padding: 20%;
    background: #6a89cc;
    margin-bottom: 5%;
}
.pie{
    clear: both;
    padding: 2%;
}
img{
    width: 30%;
}