<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>Future View</title>
        <meta name="description" content=" dedicada a desarrollo web, programacion, bases de datos, y las nuevas tecnologias"/>
        <meta name="author" content="Xavier Vera Garcia"/> 
        <meta name="keywords" content="Empresa, desarrollo web, programacion,bases de datos, nuevas tecnologias,Xavier,Vera,Garcia"/>
        
        <link rel="stylesheet" href="estilos.css">
    </head>
    <body>
        <div class="agrupar">
            <header class="cabecera">
                <h1>Future View</h1> 
                <h2>dreams, create and build</h2>
            </header>
            
            <nav class="menu">
                <ul>
                    <li>Principal</li>
                    <li>Ayuda</li>
                    <li>Contacto</li>
                </ul>
            </nav>
            
            <section class="seccion">
                <p>HEllO! Welcome to my Future View</p>
                <img src="imagenes/logo.jpg"/>
                <address>
                    <a href="https://www.facebook.com/xavier.vera.904">Visita mi facebook</a>
                </address>
    
            </section>
    
            <section class="notas">
                <article>
                    <hgroup>
                        <h1>Titulo del primer articulo</h1>
                        <h4>Subtitulo del primer articulo</h4>
                    </hgroup>
                    <time datetime="16/04/2020">Publicado 16/04/2020</time>
                    <p>Lorem ipsum dolor sit <span>amet consectetur adipisicing elit</span>. Magnam accusantium, 
                        alias blanditiis dolorem atque suscipit ullam cupiditate sunt sapiente nihil, 
                        adipisci nulla? <small>Dicta fugiat illo recusandae</small>, assumenda voluptate sequi explicabo 
                        corporis debitis praesentium consectetur deleniti deserunt eos, at in iusto 
                        asperiores aliquid odit <cite>quibusdam enim quaerat dolorem</cite>, quae dolor? Ullam?
                    </p>
                
                    <footer>
                        <p>Comentarios (0)</p>
                    </footer>
                    <address>
                        <a href="https://www.google.com/">Consúltalo tu mismo</a>
                    </address>
                </article>
                <article>
                    <hgroup>
                        <h1>Titulo del segundo articulo</h1>
                        <h4>Subtitulo del segundo articulo</h4>
                    </hgroup>
                    <time datetime="16/04/2020">Publicado 16/04/2020</time>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et nostrum optio tempore 
                        vel dolore dicta nobis impedit veritatis iure. Pariatur tempora quam accusantium 
                        nesciunt dolor nobis dolorum enim animi doloribus, voluptatem unde assumenda, 
                        sapiente consequuntur est maxime esse. Facilis unde dolore vero odit eum aspernatur 
                        voluptatem culpa tempore! Excepturi, assumenda.
                    </p>
                    <footer>
                        <p>Comentarios (0)</p>
                    </footer>
                    <address>
                        <a href="https://www.xvideos.com">Diviertete un rato</a>
                    </address>
                </article>
            </section>
    
            <aside class="columna">
                <blockquote cite="http://youtube.com">
                    Cita 1
                </blockquote>
    
                <blockquote cite="http://facebook.com">
                    Cita 2
                </blockquote>
            </aside>
    
            <footer class="pie">
                Derechos Reservados 2020-2030
            </footer>
        </div>
    </body>
</html>


